In [1]:
#import dependencies
import pandas as pd

In [2]:
# read in time series case data
time_series_df = pd.read_csv('../../data/data_sources/cases_county_first_year.csv', dtype = {'FIPS':str})
time_series_df.head()

        UID  code3  FIPS   Admin2 Province_State  3/31/21
0  84001001    840  1001  Autauga        Alabama     6589
1  84001003    840  1003  Baldwin        Alabama    20505
2  84001005    840  1005  Barbour        Alabama     2227
3  84001007    840  1007     Bibb        Alabama     2542
4  84001009    840  1009   Blount        Alabama     6444

In [3]:
#check number of rows
time_series_df.count()[1]

3342

In [4]:
#check dypes
time_series_df.dtypes

UID                int64
code3              int64
FIPS              object
Admin2            object
Province_State    object
3/31/21            int64
dtype: object

In [5]:
#prepare to remove rows not associated with US counties

time_series_df['code3'].value_counts()

840    3258
630      80
16        1
316       1
580       1
850       1
Name: code3, dtype: int64

In [6]:
time_series_df.loc[time_series_df['code3']==850]

      UID  code3 FIPS Admin2  Province_State  3/31/21
3009  850    850   78    NaN  Virgin Islands     2907

In [7]:
time_series_df.loc[time_series_df['code3']==580]

      UID  code3 FIPS Admin2            Province_State  3/31/21
2123  580    580   69    NaN  Northern Mariana Islands      159

In [8]:
time_series_df.loc[time_series_df['code3']==316]

     UID  code3 FIPS Admin2 Province_State  3/31/21
573  316    316   66    NaN           Guam     7807

In [9]:
time_series_df.loc[time_series_df['code3']==16]

     UID  code3 FIPS Admin2  Province_State  3/31/21
102   16     16   60    NaN  American Samoa        0

In [10]:
time_series_df.loc[time_series_df['code3']==630]

           UID  code3   FIPS        Admin2 Province_State  3/31/21
2400  63072001    630  72001      Adjuntas    Puerto Rico      397
2401  63072003    630  72003        Aguada    Puerto Rico     1036
2402  63072005    630  72005     Aguadilla    Puerto Rico     1239
2403  63072007    630  72007  Aguas Buenas    Puerto Rico      885
2404  63072009    630  72009      Aibonito    Puerto Rico      480
...        ...    ...    ...           ...            ...      ...
2475  63072145    630  72145     Vega Baja    Puerto Rico     2273
2476  63072147    630  72147       Vieques    Puerto Rico      117
2477  63072149    630  72149      Villalba    Puerto Rico      659
2478  63072151    630  72151       Yabucoa    Puerto Rico      788
2479  63072153    630  72153         Yauco    Puerto Rico      599

[80 rows x 6 columns]

In [11]:
#create dataframe for only US counties
state_series_df = time_series_df.loc[time_series_df['code3']==840]

In [12]:
# drop unneeded columns
state_series_df = state_series_df.drop(columns=['UID','code3'])

In [14]:
write to csv
state_series_df.to_csv('../../data/cleaned_data/case_data.csv')

FIPS              3248
Admin2            3256
Province_State    3258
3/31/21           3258
dtype: int64

In [15]:
state_series_df.count()

FIPS              3248
Admin2            3256
Province_State    3258
3/31/21           3258
dtype: int64