In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in svi and social context data
svi_df = pd.read_csv('../../data/data_sources/svi_2018_county.csv')

In [3]:
#set index to FIPS
svi_df = svi_df.set_index('FIPS')
svi_df.head()

,ST,STATE,ST_ABBR,COUNTY,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
35039,35,NEW MEXICO,NM,Rio Arriba,"Rio Arriba County, New Mexico",5860.869195,39307,0,20044,71,...,0,0,0,1,-999,4160,588,10.6,1.5,32290
1001,1,ALABAMA,AL,Autauga,"Autauga County, Alabama",594.443459,55200,0,23315,71,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,1,ALABAMA,AL,Blount,"Blount County, Alabama",644.830460,57645,0,24222,55,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,1,ALABAMA,AL,Butler,"Butler County, Alabama",776.838201,20025,0,10026,51,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,1,ALABAMA,AL,Calhoun,"Calhoun County, Alabama",605.867251,115098,0,53682,184,...,0,0,0,0,0,10686,796,9.4,0.7,117894

In [4]:
#drop unneeded columns
svi_df = svi_df.drop(columns = ['ST','STATE','ST_ABBR','COUNTY'])

In [5]:
#drop row with error - per data source documentation
svi_df = svi_df.drop(index = 35039)

In [6]:
svi_df.head()

,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,"Autauga County, Alabama",594.443459,55200,0,23315,71,21115,383,8422,1137,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,"Blount County, Alabama",644.830460,57645,0,24222,55,20600,396,8220,992,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,"Butler County, Alabama",776.838201,20025,0,10026,51,6708,274,4640,521,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,"Calhoun County, Alabama",605.867251,115098,0,53682,184,45033,683,20819,1317,...,0,0,0,0,0,10686,796,9.4,0.7,117894
1017,"Chambers County, Alabama",596.560643,33826,0,16981,72,13516,372,5531,682,...,0,0,0,0,0,3613,476,10.8,1.4,27176

In [7]:
#prepare to drop the margin of error columns
cols = svi_df.drop(columns = ['LOCATION','AREA_SQMI'])

In [8]:
cols

,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,E_UNEMP,M_UNEMP,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,55200,0,23315,71,21115,383,8422,1137,1065,257,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,57645,0,24222,55,20600,396,8220,992,909,193,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,20025,0,10026,51,6708,274,4640,521,567,147,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,115098,0,53682,184,45033,683,20819,1317,4628,526,...,0,0,0,0,0,10686,796,9.4,0.7,117894
1017,33826,0,16981,72,13516,372,5531,682,773,173,...,0,0,0,0,0,3613,476,10.8,1.4,27176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48131,11355,0,5592,49,3511,224,2751,504,482,176,...,1,1,0,2,10,2656,406,24.5,3.7,9592
48505,14369,0,6388,26,4405,257,5609,1017,621,198,...,1,0,0,2,10,4206,484,29.3,3.4,10924
48507,12131,0,4344,20,3509,138,4150,694,421,201,...,1,1,0,2,10,2194,354,18.4,3.0,10672
48127,10663,0,4408,36,3309,230,3148,774,694,234,...,1,1,0,2,11,2345,539,22.2,5.1,8229
48247,5282,0,2523,206,1710,200,1431,340,229,150,...,1,1,0,2,11,988,262,18.8,5.0,4856

In [9]:
# select all column names that start with an M - these are margin of error columns
col_list = cols.columns.to_list()
col_series = pd.Series(col_list)
drop_str = r'^M+.'
drop_form = col_series.str.contains(drop_str)
drop_col = col_series[drop_form].to_list()

In [10]:
#drop the margin of error columns
svi_df = svi_df.drop(columns = drop_col)
svi_df

,LOCATION,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,F_MUNIT,F_MOBILE,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,EP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,"Autauga County, Alabama",594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,0,0,0,0,0,0,0,3875,7.1,37301
1009,"Blount County, Alabama",644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,0,0,0,0,0,0,0,6303,11.0,40036
1013,"Butler County, Alabama",776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,0,0,0,0,0,0,0,2005,10.2,17280
1015,"Calhoun County, Alabama",605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,0,0,0,0,0,0,0,10686,9.4,117894
1017,"Chambers County, Alabama",596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,0,0,0,0,0,0,0,3613,10.8,27176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48131,"Duval County, Texas",1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,0,0,1,1,0,2,10,2656,24.5,9592
48505,"Zapata County, Texas",998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,0,1,1,0,0,2,10,4206,29.3,10924
48507,"Zavala County, Texas",1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,0,0,1,1,0,2,10,2194,18.4,10672
48127,"Dimmit County, Texas",1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,0,0,1,1,0,2,11,2345,22.2,8229
48247,"Jim Hogg County, Texas",1136.172598,5282,2523,1710,1431,229,17798,812,932,...,0,0,1,1,0,2,11,988,18.8,4856

In [11]:
svi_df.to_csv('../../data/cleaned_data/svi_cleaned')