In [1]:
import pandas as pd

In [2]:
cases = pd.read_csv("../merged_data/cases_all_data.csv")
cases

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,dem_pct,first_year_cases
0,0,1001,594.443459,55200,23315,21115,8422,1065,29372,4204,...,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,27.018365,6589
1,1,1009,644.830460,57645,24222,20600,8220,909,22656,7861,...,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,9.569378,6444
2,2,1013,776.838201,20025,10026,6708,4640,567,20430,2141,...,19011.0,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953,41.789629,2097
3,3,1015,605.867251,115098,53682,45033,20819,4628,24706,12620,...,22231.0,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794,29.845243,14224
4,4,1017,596.560643,33826,16981,13516,5531,773,22827,4383,...,21532.0,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441,41.644857,3488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,3053,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,...,19853.0,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770,50.959826,1214
3054,3054,48505,998.411980,14369,6388,4405,5609,621,17228,3226,...,16007.0,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838,47.134744,1760
3055,3055,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,...,13393.0,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990,65.403060,1844
3056,3056,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,...,19528.0,79.457964,79.141556,66.677924,73.140121,71.659882,68.065499,66.378831,61.756683,1707
3057,3057,48247,1136.172598,5282,2523,1710,1431,229,17798,812,...,16637.0,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988,58.791749,605

In [3]:
#add back lat, long, state name, county name 
df = pd.read_csv("../data_sources/time_series_cases_state.csv")
location = df[["FIPS", "Combined_Key", "Province_State", "Lat", "Long_"]]
location.head(5)

     FIPS          Combined_Key Province_State   Admin2        Lat      Long_
0  1001.0  Autauga, Alabama, US        Alabama  Autauga  32.539527 -86.644082
1  1003.0  Baldwin, Alabama, US        Alabama  Baldwin  30.727750 -87.722071
2  1005.0  Barbour, Alabama, US        Alabama  Barbour  31.868263 -85.387129
3  1007.0     Bibb, Alabama, US        Alabama     Bibb  32.996421 -87.125115
4  1009.0   Blount, Alabama, US        Alabama   Blount  33.982109 -86.567906

In [4]:
#merge with death df
cases_all_data_location = pd.merge(cases, location, on="FIPS", how="outer")
cases_all_data_location

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Selflessness,Tolerance,Work Ethic,dem_pct,first_year_cases,Combined_Key,Province_State,Admin2,Lat,Long_
0,0.0,1001.0,594.443459,55200.0,23315.0,21115.0,8422.0,1065.0,29372.0,4204.0,...,82.142857,70.000000,60.380952,27.018365,6589.0,"Autauga, Alabama, US",Alabama,Autauga,32.539527,-86.644082
1,1.0,1009.0,644.830460,57645.0,24222.0,20600.0,8220.0,909.0,22656.0,7861.0,...,79.307632,64.953288,76.000000,9.569378,6444.0,"Blount, Alabama, US",Alabama,Blount,33.982109,-86.567906
2,2.0,1013.0,776.838201,20025.0,10026.0,6708.0,4640.0,567.0,20430.0,2141.0,...,79.956648,67.920284,72.773953,41.789629,2097.0,"Butler, Alabama, US",Alabama,Butler,31.753001,-86.680575
3,3.0,1015.0,605.867251,115098.0,53682.0,45033.0,20819.0,4628.0,24706.0,12620.0,...,76.745724,67.456150,68.292794,29.845243,14224.0,"Calhoun, Alabama, US",Alabama,Calhoun,33.774837,-85.826304
4,4.0,1017.0,596.560643,33826.0,16981.0,13516.0,5531.0,773.0,22827.0,4383.0,...,79.128558,66.397785,69.554441,41.644857,3488.0,"Chambers, Alabama, US",Alabama,Chambers,32.913601,-85.390727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,NaN,90054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Unassigned, West Virginia, US",West Virginia,Unassigned,0.000000,0.000000
3338,NaN,80055.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Out of WI, Wisconsin, US",Wisconsin,Out of WI,0.000000,0.000000
3339,NaN,90055.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Unassigned, Wisconsin, US",Wisconsin,Unassigned,0.000000,0.000000
3340,NaN,80056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Out of WY, Wyoming, US",Wyoming,Out of WY,0.000000,0.000000
3341,NaN,90056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Unassigned, Wyoming, US",Wyoming,Unassigned,0.000000,0.000000

In [5]:
cases_all_data_location.dropna()

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Selflessness,Tolerance,Work Ethic,dem_pct,first_year_cases,Combined_Key,Province_State,Admin2,Lat,Long_
0,0.0,1001.0,594.443459,55200.0,23315.0,21115.0,8422.0,1065.0,29372.0,4204.0,...,82.142857,70.000000,60.380952,27.018365,6589.0,"Autauga, Alabama, US",Alabama,Autauga,32.539527,-86.644082
1,1.0,1009.0,644.830460,57645.0,24222.0,20600.0,8220.0,909.0,22656.0,7861.0,...,79.307632,64.953288,76.000000,9.569378,6444.0,"Blount, Alabama, US",Alabama,Blount,33.982109,-86.567906
2,2.0,1013.0,776.838201,20025.0,10026.0,6708.0,4640.0,567.0,20430.0,2141.0,...,79.956648,67.920284,72.773953,41.789629,2097.0,"Butler, Alabama, US",Alabama,Butler,31.753001,-86.680575
3,3.0,1015.0,605.867251,115098.0,53682.0,45033.0,20819.0,4628.0,24706.0,12620.0,...,76.745724,67.456150,68.292794,29.845243,14224.0,"Calhoun, Alabama, US",Alabama,Calhoun,33.774837,-85.826304
4,4.0,1017.0,596.560643,33826.0,16981.0,13516.0,5531.0,773.0,22827.0,4383.0,...,79.128558,66.397785,69.554441,41.644857,3488.0,"Chambers, Alabama, US",Alabama,Chambers,32.913601,-85.390727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,3053.0,48131.0,1793.476183,11355.0,5592.0,3511.0,2751.0,482.0,17864.0,2386.0,...,73.670302,64.571017,68.007770,50.959826,1214.0,"Duval, Texas, US",Texas,Duval,27.681846,-98.508646
3054,3054.0,48505.0,998.411980,14369.0,6388.0,4405.0,5609.0,621.0,17228.0,3226.0,...,76.386871,74.001471,73.609838,47.134744,1760.0,"Zapata, Texas, US",Texas,Zapata,27.001564,-99.169872
3055,3055.0,48507.0,1297.406535,12131.0,4344.0,3509.0,4150.0,421.0,13350.0,2719.0,...,77.303576,70.010162,71.121990,65.403060,1844.0,"Zavala, Texas, US",Texas,Zavala,28.866172,-99.760508
3056,3056.0,48127.0,1328.884075,10663.0,4408.0,3309.0,3148.0,694.0,18121.0,2137.0,...,71.659882,68.065499,66.378831,61.756683,1707.0,"Dimmit, Texas, US",Texas,Dimmit,28.422701,-99.756451
3057,3057.0,48247.0,1136.172598,5282.0,2523.0,1710.0,1431.0,229.0,17798.0,812.0,...,77.564505,72.456881,70.160988,58.791749,605.0,"Jim Hogg, Texas, US",Texas,Jim Hogg,27.044539,-98.696819

In [16]:
county_fips= pd.read_csv("../fips-codes-master/county_fips_master.csv", encoding= "ISO-8859-1")
county_fips

,FIPS,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56037,Sweetwater County,WY,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,West,Mountain
3142,56039,Teton County,WY,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,West,Mountain
3143,56041,Uinta County,WY,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,West,Mountain
3144,56043,Washakie County,WY,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,West,Mountain
3145,56045,Weston County,WY,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,West,Mountain

In [17]:
county= county_fips[["FIPS", "county_name"]]
county

       FIPS        county_name
0      1001     Autauga County
1      1003     Baldwin County
2      1005     Barbour County
3      1007        Bibb County
4      1009      Blount County
...     ...                ...
3141  56037  Sweetwater County
3142  56039       Teton County
3143  56041       Uinta County
3144  56043    Washakie County
3145  56045      Weston County

[3146 rows x 2 columns]

In [18]:
cases_all_data_location = pd.merge(cases_all_data_location, county, on="FIPS", how="outer" )
cases_all_data_location

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Tolerance,Work Ethic,dem_pct,first_year_cases,Combined_Key,Province_State,Admin2,Lat,Long_,county_name
0,0.0,1001.0,594.443459,55200.0,23315.0,21115.0,8422.0,1065.0,29372.0,4204.0,...,70.000000,60.380952,27.018365,6589.0,"Autauga, Alabama, US",Alabama,Autauga,32.539527,-86.644082,Autauga County
1,1.0,1009.0,644.830460,57645.0,24222.0,20600.0,8220.0,909.0,22656.0,7861.0,...,64.953288,76.000000,9.569378,6444.0,"Blount, Alabama, US",Alabama,Blount,33.982109,-86.567906,Blount County
2,2.0,1013.0,776.838201,20025.0,10026.0,6708.0,4640.0,567.0,20430.0,2141.0,...,67.920284,72.773953,41.789629,2097.0,"Butler, Alabama, US",Alabama,Butler,31.753001,-86.680575,Butler County
3,3.0,1015.0,605.867251,115098.0,53682.0,45033.0,20819.0,4628.0,24706.0,12620.0,...,67.456150,68.292794,29.845243,14224.0,"Calhoun, Alabama, US",Alabama,Calhoun,33.774837,-85.826304,Calhoun County
4,4.0,1017.0,596.560643,33826.0,16981.0,13516.0,5531.0,773.0,22827.0,4383.0,...,66.397785,69.554441,41.644857,3488.0,"Chambers, Alabama, US",Alabama,Chambers,32.913601,-85.390727,Chambers County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3341,NaN,80056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Out of WY, Wyoming, US",Wyoming,Out of WY,0.000000,0.000000,NaN
3342,NaN,90056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"Unassigned, Wyoming, US",Wyoming,Unassigned,0.000000,0.000000,NaN
3343,NaN,2270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wade Hampton Census Area
3344,NaN,46113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shannon County
3345,NaN,51515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bedford city

In [20]:
cases_all_data_location.dropna()

,Unnamed: 0,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,...,Tolerance,Work Ethic,dem_pct,first_year_cases,Combined_Key,Province_State,Admin2,Lat,Long_,county_name
0,0.0,1001.0,594.443459,55200.0,23315.0,21115.0,8422.0,1065.0,29372.0,4204.0,...,70.000000,60.380952,27.018365,6589.0,"Autauga, Alabama, US",Alabama,Autauga,32.539527,-86.644082,Autauga County
1,1.0,1009.0,644.830460,57645.0,24222.0,20600.0,8220.0,909.0,22656.0,7861.0,...,64.953288,76.000000,9.569378,6444.0,"Blount, Alabama, US",Alabama,Blount,33.982109,-86.567906,Blount County
2,2.0,1013.0,776.838201,20025.0,10026.0,6708.0,4640.0,567.0,20430.0,2141.0,...,67.920284,72.773953,41.789629,2097.0,"Butler, Alabama, US",Alabama,Butler,31.753001,-86.680575,Butler County
3,3.0,1015.0,605.867251,115098.0,53682.0,45033.0,20819.0,4628.0,24706.0,12620.0,...,67.456150,68.292794,29.845243,14224.0,"Calhoun, Alabama, US",Alabama,Calhoun,33.774837,-85.826304,Calhoun County
4,4.0,1017.0,596.560643,33826.0,16981.0,13516.0,5531.0,773.0,22827.0,4383.0,...,66.397785,69.554441,41.644857,3488.0,"Chambers, Alabama, US",Alabama,Chambers,32.913601,-85.390727,Chambers County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,3053.0,48131.0,1793.476183,11355.0,5592.0,3511.0,2751.0,482.0,17864.0,2386.0,...,64.571017,68.007770,50.959826,1214.0,"Duval, Texas, US",Texas,Duval,27.681846,-98.508646,Duval County
3054,3054.0,48505.0,998.411980,14369.0,6388.0,4405.0,5609.0,621.0,17228.0,3226.0,...,74.001471,73.609838,47.134744,1760.0,"Zapata, Texas, US",Texas,Zapata,27.001564,-99.169872,Zapata County
3055,3055.0,48507.0,1297.406535,12131.0,4344.0,3509.0,4150.0,421.0,13350.0,2719.0,...,70.010162,71.121990,65.403060,1844.0,"Zavala, Texas, US",Texas,Zavala,28.866172,-99.760508,Zavala County
3056,3056.0,48127.0,1328.884075,10663.0,4408.0,3309.0,3148.0,694.0,18121.0,2137.0,...,68.065499,66.378831,61.756683,1707.0,"Dimmit, Texas, US",Texas,Dimmit,28.422701,-99.756451,Dimmit County
3057,3057.0,48247.0,1136.172598,5282.0,2523.0,1710.0,1431.0,229.0,17798.0,812.0,...,72.456881,70.160988,58.791749,605.0,"Jim Hogg, Texas, US",Texas,Jim Hogg,27.044539,-98.696819,Jim Hogg County

In [6]:
cases_all_data_location.to_csv("../merged_data/cases_all_data_location.csv")