In [1]:
import pandas as pd

In [2]:
deaths_df = pd.read_csv('../modified_data/death_data.csv')
pol_df = pd.read_csv('../modified_data/dem_vote_pct.csv')
svi_df =pd.read_csv('../modified_data/svi_cleaned')
sc_df = pd.read_csv('../modified_data/social_context_FIPS.csv')
beds_df = pd.read_csv('../modified_data/FIPS_hospital_beds.csv')

## SVI Data

In [3]:
svi_df['FIPS'] = svi_df['FIPS'].astype('str')
svi_df['FIPS'] = svi_df['FIPS'].str.zfill(5)
svi_df = svi_df.drop('LOCATION', axis=1)

## SC Data

In [4]:
sc_df

,IBRC_Geo_ID,Agreeableness,Belief In Science,Collectivism,Conflict Awareness,Conscientiousness,Empathy,Employment Rate,Entrepreneurship,Extraversion,...,Hopefulness,Income Mobility,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
0,1001,86.279655,70.833333,57.142857,63.444323,84.113820,83.308726,94.7,12.968300,86.112526,...,91.163142,-0.209446,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1,1003,85.603337,63.268161,67.948815,63.751017,83.108459,78.187835,94.6,13.748191,87.033806,...,82.484017,-0.118444,28069.0,77.232120,80.086368,71.771566,67.272980,75.586018,66.983549,70.972246
2,1005,87.711609,63.046939,70.099756,51.165707,83.933892,81.289184,91.4,13.026820,86.056212,...,61.927181,-0.593941,17249.0,80.375206,78.783778,73.657368,76.066481,78.753019,65.170377,68.704105
3,1007,84.830261,63.262028,72.034797,61.796095,82.099210,81.212388,93.4,6.984127,85.527388,...,85.258871,-0.198811,18988.0,80.813736,77.837027,69.974652,75.136154,76.929754,69.859503,67.931677
4,1009,85.548096,33.333333,80.000000,63.136502,83.165976,81.521844,94.5,11.572700,87.164757,...,79.492703,0.298376,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105,56037,83.811791,68.303853,68.673956,62.498854,84.792307,81.269250,94.0,10.584677,86.775871,...,82.403142,1.037294,30945.0,79.384759,79.347081,68.147062,73.938691,76.390464,67.420658,70.956334
3106,56039,82.886955,73.489916,63.115088,61.166618,80.059909,70.923336,96.6,15.746873,87.258666,...,84.036899,0.665518,46499.0,71.547359,80.522872,65.399695,79.598153,79.698193,70.877600,70.938645
3107,56041,84.272810,67.029022,67.552392,60.175516,84.634029,78.188790,94.2,15.113872,85.950412,...,84.089095,0.939855,25636.0,78.771570,77.859042,67.603416,69.705859,73.332067,67.404487,69.299391
3108,56043,80.773973,68.663949,66.701109,55.520155,82.170372,79.264794,95.3,9.792285,82.081459,...,87.485019,0.527082,26325.0,76.249370,77.658224,67.412774,82.820701,78.925326,74.628788,70.050103
3109,56045,88.251855,67.710969,69.084172,56.654563,84.263823,81.012828,95.1,7.446809,87.006078,...,80.975991,1.315518,29493.0,79.961075,76.977099,71.535519,75.406846,76.730879,68.422269,69.413532

In [5]:
sc_df['FIPS'] = sc_df['IBRC_Geo_ID'].rename()
sc_df['FIPS'] = sc_df['FIPS'].astype('str')
sc_df['FIPS'] = sc_df['FIPS'].str.zfill(5)
sc_df = sc_df.drop(['IBRC_Geo_ID','Income Mobility'], axis =1)
sc_df

,Agreeableness,Belief In Science,Collectivism,Conflict Awareness,Conscientiousness,Empathy,Employment Rate,Entrepreneurship,Extraversion,Gender Equality,Hopefulness,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,FIPS
0,86.279655,70.833333,57.142857,63.444323,84.113820,83.308726,94.7,12.968300,86.112526,77.063492,91.163142,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,01001
1,85.603337,63.268161,67.948815,63.751017,83.108459,78.187835,94.6,13.748191,87.033806,69.016011,82.484017,28069.0,77.232120,80.086368,71.771566,67.272980,75.586018,66.983549,70.972246,01003
2,87.711609,63.046939,70.099756,51.165707,83.933892,81.289184,91.4,13.026820,86.056212,69.323158,61.927181,17249.0,80.375206,78.783778,73.657368,76.066481,78.753019,65.170377,68.704105,01005
3,84.830261,63.262028,72.034797,61.796095,82.099210,81.212388,93.4,6.984127,85.527388,68.844059,85.258871,18988.0,80.813736,77.837027,69.974652,75.136154,76.929754,69.859503,67.931677,01007
4,85.548096,33.333333,80.000000,63.136502,83.165976,81.521844,94.5,11.572700,87.164757,64.585114,79.492703,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,01009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105,83.811791,68.303853,68.673956,62.498854,84.792307,81.269250,94.0,10.584677,86.775871,68.112161,82.403142,30945.0,79.384759,79.347081,68.147062,73.938691,76.390464,67.420658,70.956334,56037
3106,82.886955,73.489916,63.115088,61.166618,80.059909,70.923336,96.6,15.746873,87.258666,70.618318,84.036899,46499.0,71.547359,80.522872,65.399695,79.598153,79.698193,70.877600,70.938645,56039
3107,84.272810,67.029022,67.552392,60.175516,84.634029,78.188790,94.2,15.113872,85.950412,71.058477,84.089095,25636.0,78.771570,77.859042,67.603416,69.705859,73.332067,67.404487,69.299391,56041
3108,80.773973,68.663949,66.701109,55.520155,82.170372,79.264794,95.3,9.792285,82.081459,67.383553,87.485019,26325.0,76.249370,77.658224,67.412774,82.820701,78.925326,74.628788,70.050103,56043
3109,88.251855,67.710969,69.084172,56.654563,84.263823,81.012828,95.1,7.446809,87.006078,69.933697,80.975991,29493.0,79.961075,76.977099,71.535519,75.406846,76.730879,68.422269,69.413532,56045

## Pol Data

In [6]:
pol_df

      county_fips    dem_pct
0            1001  27.018365
1            1003  22.409030
2            1005  45.788173
3            1007  20.698280
4            1009   9.569378
...           ...        ...
3148        56037  22.894957
3149        56039  66.599040
3150        56041  16.819960
3151        56043  16.145833
3152        56045  10.112360

[3153 rows x 2 columns]

In [7]:
pol_df = pol_df.rename(columns={'county_fips':'FIPS'})
pol_df['FIPS'] = pol_df['FIPS'].astype('str').str.zfill(5)
pol_df

       FIPS    dem_pct
0     01001  27.018365
1     01003  22.409030
2     01005  45.788173
3     01007  20.698280
4     01009   9.569378
...     ...        ...
3148  56037  22.894957
3149  56039  66.599040
3150  56041  16.819960
3151  56043  16.145833
3152  56045  10.112360

[3153 rows x 2 columns]

## Beds Data

In [8]:
beds_df.dtypes

COUNTYFIPS    int64
BEDS          int64
dtype: object

In [9]:
beds_df = beds_df.rename(columns={'COUNTYFIPS':'FIPS'})
beds_df['FIPS'] = beds_df['FIPS'].astype('str').str.zfill(5)
beds_df

       FIPS  BEDS
0     01001    85
1     01003   332
2     01005    74
3     01007    35
4     01009    40
...     ...   ...
2534  72125   167
2535  72127  2596
2536  72141     7
2537  72145   150
2538  72153   105

[2539 rows x 2 columns]

## Deaths Data

In [10]:
deaths_df.dtypes

Unnamed: 0          int64
FIPS              float64
Admin2             object
Province_State     object
3/31/21             int64
dtype: object

In [11]:
deaths_df = deaths_df.drop(columns = ['Admin2','Province_State','Unnamed: 0'])
deaths_df = deaths_df.rename(columns={'3/31/21':'first_year_deaths'})
deaths_df

         FIPS  first_year_deaths
0      1001.0                 99
1      1003.0                301
2      1005.0                 55
3      1007.0                 58
4      1009.0                131
...       ...                ...
3253  56039.0                  9
3254  56041.0                 12
3255  90056.0                  0
3256  56043.0                 26
3257  56045.0                  5

[3258 rows x 2 columns]

In [12]:
deaths_df = deaths_df.dropna(how='any')
deaths_df['FIPS'] = deaths_df['FIPS'].astype('int')
deaths_df['FIPS'] = deaths_df['FIPS'].astype('str').str.zfill(5)
deaths_df

/Users/moxieman81/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/moxieman81/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       FIPS  first_year_deaths
0     01001                 99
1     01003                301
2     01005                 55
3     01007                 58
4     01009                131
...     ...                ...
3253  56039                  9
3254  56041                 12
3255  90056                  0
3256  56043                 26
3257  56045                  5

[3248 rows x 2 columns]

## Merge all dataframes on FIPS

In [13]:
svi_sc = svi_df.merge(sc_df, how='left', on = 'FIPS')
svi_sc.isnull().sum()

FIPS             0
AREA_SQMI        0
E_TOTPOP         0
E_HU             0
E_HH             0
                ..
Religiosity     60
Risk Taking     60
Selflessness    60
Tolerance       60
Work Ethic      60
Length: 102, dtype: int64

In [14]:
svi_sc = svi_sc.dropna(how='any')
svi_sc

,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,Gender Equality,Hopefulness,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
0,01001,594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,77.063492,91.163142,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1,01009,644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,64.585114,79.492703,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000
2,01013,776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,64.769089,83.523765,19011.0,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953
3,01015,605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,69.015332,83.365608,22231.0,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794
4,01017,596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,69.433309,85.371517,21532.0,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,66.171080,77.899678,19853.0,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770
3137,48505,998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,67.037410,86.586509,16007.0,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838
3138,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,65.804541,88.785822,13393.0,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990
3139,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,66.674616,84.901648,19528.0,79.457964,79.141556,66.677924,73.140121,71.659882,68.065499,66.378831
3140,48247,1136.172598,5282,2523,1710,1431,229,17798,812,932,...,68.661277,82.727613,16637.0,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988

In [15]:
svi_sc_pol = svi_sc.merge(pol_df,how='left', on = 'FIPS')
svi_sc_pol = svi_sc_pol.dropna(how='any')
svi_sc_pol

,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,Hopefulness,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,dem_pct
0,01001,594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,91.163142,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,27.018365
1,01009,644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,79.492703,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,9.569378
2,01013,776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,83.523765,19011.0,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953,41.789629
3,01015,605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,83.365608,22231.0,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794,29.845243
4,01017,596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,85.371517,21532.0,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441,41.644857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,77.899678,19853.0,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770,50.959826
3074,48505,998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,86.586509,16007.0,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838,47.134744
3075,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,88.785822,13393.0,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990,65.403060
3076,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,84.901648,19528.0,79.457964,79.141556,66.677924,73.140121,71.659882,68.065499,66.378831,61.756683
3077,48247,1136.172598,5282,2523,1710,1431,229,17798,812,932,...,82.727613,16637.0,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988,58.791749

In [16]:
svi_sc_pol_beds = svi_sc_pol.merge(beds_df, how='left', on = 'FIPS')
svi_sc_pol_beds.isnull().sum()

FIPS              0
AREA_SQMI         0
E_TOTPOP          0
E_HU              0
E_HH              0
               ...
Selflessness      0
Tolerance         0
Work Ethic        0
dem_pct           0
BEDS            590
Length: 104, dtype: int64

In [17]:
svi_sc_pol_beds = svi_sc_pol_beds.fillna(value=0)
svi_sc_pol_beds

,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,dem_pct,BEDS
0,01001,594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,27.018365,85.0
1,01009,644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,9.569378,40.0
2,01013,776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,19011.0,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953,41.789629,94.0
3,01015,605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,22231.0,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794,29.845243,552.0
4,01017,596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,21532.0,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441,41.644857,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,19853.0,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770,50.959826,0.0
3054,48505,998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,16007.0,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838,47.134744,0.0
3055,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,13393.0,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990,65.403060,0.0
3056,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,19528.0,79.457964,79.141556,66.677924,73.140121,71.659882,68.065499,66.378831,61.756683,48.0
3057,48247,1136.172598,5282,2523,1710,1431,229,17798,812,932,...,16637.0,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988,58.791749,0.0

In [18]:
all_merged = svi_sc_pol_beds.merge(deaths_df, how='left', on='FIPS')
all_merged.isnull().sum()

FIPS                 0
AREA_SQMI            0
E_TOTPOP             0
E_HU                 0
E_HH                 0
                    ..
Tolerance            0
Work Ethic           0
dem_pct              0
BEDS                 0
first_year_deaths    0
Length: 105, dtype: int64

In [19]:
all_merged

,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,dem_pct,BEDS,first_year_deaths
0,01001,594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,27.018365,85.0,99
1,01009,644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,9.569378,40.0,131
2,01013,776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953,41.789629,94.0,66
3,01015,605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794,29.845243,552.0,305
4,01017,596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441,41.644857,115.0,117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770,50.959826,0.0,39
3054,48505,998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838,47.134744,0.0,30
3055,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990,65.403060,0.0,40
3056,48127,1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,79.457964,79.141556,66.677924,73.140121,71.659882,68.065499,66.378831,61.756683,48.0,29
3057,48247,1136.172598,5282,2523,1710,1431,229,17798,812,932,...,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988,58.791749,0.0,16

In [21]:
all_merged.to_csv('../merged_data/deaths_all_data')