In [1]:
#import dependencies
import pandas as pd

In [4]:
# read in time series case data
time_series_df = pd.read_csv('../data_sources/time_series_covid19_deaths_US_reduced.csv', dtype = {'FIPS':str})
time_series_df.head()

        UID  code3  FIPS   Admin2 Province_State  3/31/21
0  84001001    840  1001  Autauga        Alabama       99
1  84001003    840  1003  Baldwin        Alabama      301
2  84001005    840  1005  Barbour        Alabama       55
3  84001007    840  1007     Bibb        Alabama       58
4  84001009    840  1009   Blount        Alabama      131

In [5]:
#check number of rows
time_series_df.count()[1]

3342

In [6]:
#check dypes
time_series_df.dtypes

UID                int64
code3              int64
FIPS              object
Admin2            object
Province_State    object
3/31/21            int64
dtype: object

In [7]:
#prepare to remove rows not associated with US counties

time_series_df['code3'].value_counts()

840    3258
630      80
16        1
316       1
580       1
850       1
Name: code3, dtype: int64

In [8]:
time_series_df.loc[time_series_df['code3']==850]

      UID  code3 FIPS Admin2  Province_State  3/31/21
3009  850    850   78    NaN  Virgin Islands       26

In [9]:
time_series_df.loc[time_series_df['code3']==580]

      UID  code3 FIPS Admin2            Province_State  3/31/21
2123  580    580   69    NaN  Northern Mariana Islands        2

In [10]:
time_series_df.loc[time_series_df['code3']==316]

     UID  code3 FIPS Admin2 Province_State  3/31/21
573  316    316   66    NaN           Guam      134

In [11]:
time_series_df.loc[time_series_df['code3']==16]

     UID  code3 FIPS Admin2  Province_State  3/31/21
102   16     16   60    NaN  American Samoa        0

In [12]:
time_series_df.loc[time_series_df['code3']==630]

           UID  code3   FIPS        Admin2 Province_State  3/31/21
2400  63072001    630  72001      Adjuntas    Puerto Rico        0
2401  63072003    630  72003        Aguada    Puerto Rico        0
2402  63072005    630  72005     Aguadilla    Puerto Rico        0
2403  63072007    630  72007  Aguas Buenas    Puerto Rico        0
2404  63072009    630  72009      Aibonito    Puerto Rico        0
...        ...    ...    ...           ...            ...      ...
2475  63072145    630  72145     Vega Baja    Puerto Rico        0
2476  63072147    630  72147       Vieques    Puerto Rico        0
2477  63072149    630  72149      Villalba    Puerto Rico        0
2478  63072151    630  72151       Yabucoa    Puerto Rico        0
2479  63072153    630  72153         Yauco    Puerto Rico        0

[80 rows x 6 columns]

In [14]:
#create dataframe for only US counties
state_series_df = time_series_df.loc[time_series_df['code3']==840]

In [15]:
# drop unneeded columns
state_series_df = state_series_df.drop(columns=['UID','code3'])

In [16]:
# write to csv
state_series_df.to_csv('../modified_data/death_data.csv')

In [24]:
state_series_df.isnull().sum()

FIPS              10
Admin2             2
Province_State     0
3/31/21            0
dtype: int64