In [1]:
import pandas as pd

In [2]:
svi_df = pd.read_csv('../data_sources/SVI2018_US_COUNTY.csv')
sc_df = pd.read_csv('../modified_data/social_context_FIPS.csv')

In [3]:
svi_df = svi_df.set_index('FIPS')
svi_df.head()

,ST,STATE,ST_ABBR,COUNTY,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
35039,35,NEW MEXICO,NM,Rio Arriba,"Rio Arriba County, New Mexico",5860.869195,39307,0,20044,71,...,0,0,0,1,-999,4160,588,10.6,1.5,32290
1001,1,ALABAMA,AL,Autauga,"Autauga County, Alabama",594.443459,55200,0,23315,71,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,1,ALABAMA,AL,Blount,"Blount County, Alabama",644.830460,57645,0,24222,55,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,1,ALABAMA,AL,Butler,"Butler County, Alabama",776.838201,20025,0,10026,51,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,1,ALABAMA,AL,Calhoun,"Calhoun County, Alabama",605.867251,115098,0,53682,184,...,0,0,0,0,0,10686,796,9.4,0.7,117894

In [4]:
svi_df = svi_df.drop(columns = ['ST','STATE','ST_ABBR','COUNTY'])

In [5]:
svi_df = svi_df.drop(index = 35039)

In [6]:
svi_df.head()

,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,"Autauga County, Alabama",594.443459,55200,0,23315,71,21115,383,8422,1137,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,"Blount County, Alabama",644.830460,57645,0,24222,55,20600,396,8220,992,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,"Butler County, Alabama",776.838201,20025,0,10026,51,6708,274,4640,521,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,"Calhoun County, Alabama",605.867251,115098,0,53682,184,45033,683,20819,1317,...,0,0,0,0,0,10686,796,9.4,0.7,117894
1017,"Chambers County, Alabama",596.560643,33826,0,16981,72,13516,372,5531,682,...,0,0,0,0,0,3613,476,10.8,1.4,27176

In [7]:
cols = svi_df.drop(columns = ['LOCATION','AREA_SQMI'])

In [8]:
cols

,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,E_UNEMP,M_UNEMP,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,55200,0,23315,71,21115,383,8422,1137,1065,257,...,0,0,0,0,0,3875,508,7.1,0.9,37301
1009,57645,0,24222,55,20600,396,8220,992,909,193,...,0,0,0,0,0,6303,732,11.0,1.3,40036
1013,20025,0,10026,51,6708,274,4640,521,567,147,...,0,0,0,0,0,2005,340,10.2,1.7,17280
1015,115098,0,53682,184,45033,683,20819,1317,4628,526,...,0,0,0,0,0,10686,796,9.4,0.7,117894
1017,33826,0,16981,72,13516,372,5531,682,773,173,...,0,0,0,0,0,3613,476,10.8,1.4,27176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48131,11355,0,5592,49,3511,224,2751,504,482,176,...,1,1,0,2,10,2656,406,24.5,3.7,9592
48505,14369,0,6388,26,4405,257,5609,1017,621,198,...,1,0,0,2,10,4206,484,29.3,3.4,10924
48507,12131,0,4344,20,3509,138,4150,694,421,201,...,1,1,0,2,10,2194,354,18.4,3.0,10672
48127,10663,0,4408,36,3309,230,3148,774,694,234,...,1,1,0,2,11,2345,539,22.2,5.1,8229
48247,5282,0,2523,206,1710,200,1431,340,229,150,...,1,1,0,2,11,988,262,18.8,5.0,4856

In [9]:
col_list = cols.columns.to_list()
col_series = pd.Series(col_list)
drop_str = r'^M+.'
drop_form = col_series.str.contains(drop_str)
drop_col = col_series[drop_form].to_list()

In [10]:
svi_df = svi_df.drop(columns = drop_col)
svi_df

,LOCATION,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,F_MUNIT,F_MOBILE,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,EP_UNINSUR,E_DAYPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,"Autauga County, Alabama",594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,0,0,0,0,0,0,0,3875,7.1,37301
1009,"Blount County, Alabama",644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,0,0,0,0,0,0,0,6303,11.0,40036
1013,"Butler County, Alabama",776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,0,0,0,0,0,0,0,2005,10.2,17280
1015,"Calhoun County, Alabama",605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,0,0,0,0,0,0,0,10686,9.4,117894
1017,"Chambers County, Alabama",596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,0,0,0,0,0,0,0,3613,10.8,27176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48131,"Duval County, Texas",1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,0,0,1,1,0,2,10,2656,24.5,9592
48505,"Zapata County, Texas",998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,0,1,1,0,0,2,10,4206,29.3,10924
48507,"Zavala County, Texas",1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,0,0,1,1,0,2,10,2194,18.4,10672
48127,"Dimmit County, Texas",1328.884075,10663,4408,3309,3148,694,18121,2137,1734,...,0,0,1,1,0,2,11,2345,22.2,8229
48247,"Jim Hogg County, Texas",1136.172598,5282,2523,1710,1431,229,17798,812,932,...,0,0,1,1,0,2,11,988,18.8,4856

In [11]:
sc_df.head()

,IBRC_Geo_ID,Agreeableness,Belief In Science,Collectivism,Conflict Awareness,Conscientiousness,Empathy,Employment Rate,Entrepreneurship,Extraversion,...,Hopefulness,Income Mobility,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
0,1001,86.279655,70.833333,57.142857,63.444323,84.113820,83.308726,94.7,12.968300,86.112526,...,91.163142,-0.209446,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1,1003,85.603337,63.268161,67.948815,63.751017,83.108459,78.187835,94.6,13.748191,87.033806,...,82.484017,-0.118444,28069.0,77.232120,80.086368,71.771566,67.272980,75.586018,66.983549,70.972246
2,1005,87.711609,63.046939,70.099756,51.165707,83.933892,81.289184,91.4,13.026820,86.056212,...,61.927181,-0.593941,17249.0,80.375206,78.783778,73.657368,76.066481,78.753019,65.170377,68.704105
3,1007,84.830261,63.262028,72.034797,61.796095,82.099210,81.212388,93.4,6.984127,85.527388,...,85.258871,-0.198811,18988.0,80.813736,77.837027,69.974652,75.136154,76.929754,69.859503,67.931677
4,1009,85.548096,33.333333,80.000000,63.136502,83.165976,81.521844,94.5,11.572700,87.164757,...,79.492703,0.298376,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000

In [12]:
sc_df = sc_df.set_index('IBRC_Geo_ID')
sc_df.head()

,Agreeableness,Belief In Science,Collectivism,Conflict Awareness,Conscientiousness,Empathy,Employment Rate,Entrepreneurship,Extraversion,Gender Equality,Hopefulness,Income Mobility,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
IBRC_Geo_ID,,,,,,,,,,,,,,,,,,,,
1001,86.279655,70.833333,57.142857,63.444323,84.113820,83.308726,94.7,12.968300,86.112526,77.063492,91.163142,-0.209446,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1003,85.603337,63.268161,67.948815,63.751017,83.108459,78.187835,94.6,13.748191,87.033806,69.016011,82.484017,-0.118444,28069.0,77.232120,80.086368,71.771566,67.272980,75.586018,66.983549,70.972246
1005,87.711609,63.046939,70.099756,51.165707,83.933892,81.289184,91.4,13.026820,86.056212,69.323158,61.927181,-0.593941,17249.0,80.375206,78.783778,73.657368,76.066481,78.753019,65.170377,68.704105
1007,84.830261,63.262028,72.034797,61.796095,82.099210,81.212388,93.4,6.984127,85.527388,68.844059,85.258871,-0.198811,18988.0,80.813736,77.837027,69.974652,75.136154,76.929754,69.859503,67.931677
1009,85.548096,33.333333,80.000000,63.136502,83.165976,81.521844,94.5,11.572700,87.164757,64.585114,79.492703,0.298376,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000

In [13]:
merged_df = svi_df.merge(sc_df, how = 'left', left_index=True, right_index=True, sort=True)

In [14]:
merged_df.columns.to_list()

['LOCATION',
 'AREA_SQMI',
 'E_TOTPOP',
 'E_HU',
 'E_HH',
 'E_POV',
 'E_UNEMP',
 'E_PCI',
 'E_NOHSDP',
 'E_AGE65',
 'E_AGE17',
 'E_DISABL',
 'E_SNGPNT',
 'E_MINRTY',
 'E_LIMENG',
 'E_MUNIT',
 'E_MOBILE',
 'E_CROWD',
 'E_NOVEH',
 'E_GROUPQ',
 'EP_POV',
 'EP_UNEMP',
 'EP_PCI',
 'EP_NOHSDP',
 'EP_AGE65',
 'EP_AGE17',
 'EP_DISABL',
 'EP_SNGPNT',
 'EP_MINRTY',
 'EP_LIMENG',
 'EP_MUNIT',
 'EP_MOBILE',
 'EP_CROWD',
 'EP_NOVEH',
 'EP_GROUPQ',
 'EPL_POV',
 'EPL_UNEMP',
 'EPL_PCI',
 'EPL_NOHSDP',
 'SPL_THEME1',
 'RPL_THEME1',
 'EPL_AGE65',
 'EPL_AGE17',
 'EPL_DISABL',
 'EPL_SNGPNT',
 'SPL_THEME2',
 'RPL_THEME2',
 'EPL_MINRTY',
 'EPL_LIMENG',
 'SPL_THEME3',
 'RPL_THEME3',
 'EPL_MUNIT',
 'EPL_MOBILE',
 'EPL_CROWD',
 'EPL_NOVEH',
 'EPL_GROUPQ',
 'SPL_THEME4',
 'RPL_THEME4',
 'SPL_THEMES',
 'RPL_THEMES',
 'F_POV',
 'F_UNEMP',
 'F_PCI',
 'F_NOHSDP',
 'F_THEME1',
 'F_AGE65',
 'F_AGE17',
 'F_DISABL',
 'F_SNGPNT',
 'F_THEME2',
 'F_MINRTY',
 'F_LIMENG',
 'F_THEME3',
 'F_MUNIT',
 'F_MOBILE',
 'F_CROWD',
 'F_NOVEH',
 'F_GROUPQ',
 'F_THEME4',
 'F_TOTAL',
 'E_UNINSUR',
 'EP_UNINSUR',
 'E_DAYPOP',
 'Agreeableness',
 'Belief In Science',
 'Collectivism',
 'Conflict Awareness',
 'Conscientiousness',
 'Empathy',
 'Employment Rate',
 'Entrepreneurship',
 'Extraversion',
 'Gender Equality',
 'Hopefulness',
 'Income Mobility',
 'Income Per Capita',
 'Neuroticism',
 'Openness',
 'Religiosity',
 'Risk Taking',
 'Selflessness',
 'Tolerance',
 'Work Ethic']

In [15]:
missing_df = merged_df[merged_df.isnull().any(axis=1)]

In [16]:
missing_df.loc[missing_df['Work Ethic'].isnull()]

,LOCATION,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,Hopefulness,Income Mobility,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
FIPS,,,,,,,,,,,,,,,,,,,,,
2105,"Hoonah-Angoon Census Area, Alaska",6556.616790,2132,1656,799,207,130,35355,143,415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2130,"Ketchikan Gateway Borough, Alaska",4856.871175,13804,6343,5327,1433,499,34900,701,1950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,"Kusilvak Census Area, Alaska",17073.904041,8198,2225,1692,3296,849,12578,880,456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2195,"Petersburg Borough, Alaska",2900.613586,3255,1762,1170,267,70,33227,219,701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2198,"Prince of Wales-Hyder Census Area, Alaska",5262.769238,6474,3428,2356,972,385,27236,440,960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,"Skagway Municipality, Alaska",433.932749,1061,647,400,56,51,39842,51,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2275,"Wrangell City and Borough, Alaska",2555.994087,2484,1481,1074,192,67,31489,219,548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15005,"Kalawao County, Hawaii",11.991403,75,92,47,7,0,47709,9,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15009,"Maui County, Hawaii",1161.529512,165281,72570,54274,15840,3901,33792,9341,27860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51003,"Albemarle County, Virginia",720.469356,106355,44886,40612,9675,1536,42085,6200,18447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51005,"Alleghany County, Virginia",446.568977,15286,8034,6741,3023,358,26918,1626,3561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51015,"Augusta County, Virginia",967.072953,74701,32345,29297,6532,1328,29366,6843,14821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51031,"Campbell County, Virginia",503.207100,55170,25754,22957,6414,1026,27842,5570,10556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51035,"Carroll County, Virginia",474.744117,29738,16741,12375,4429,469,24868,4253,6876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51053,"Dinwiddie County, Virginia",503.898572,28308,11715,10391,3542,1025,27106,3301,4706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51059,"Fairfax County, Virginia",390.999437,1143529,412574,394447,69895,26682,54725,61178,144212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51069,"Frederick County, Virginia",413.168383,85153,33594,30973,5225,1639,33961,6654,13804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51081,"Greensville County, Virginia",295.226930,11659,4179,3688,1407,279,17500,2113,1720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51089,"Henry County, Virginia",382.349980,51588,26223,21598,10347,1826,21501,8015,11897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51095,"James City County, Virginia",142.365301,74153,32838,28766,5695,1408,43815,2674,17930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51121,"Montgomery County, Virginia",386.843480,97997,39918,35483,21533,2255,28920,4161,11648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51143,"Pittsylvania County, Virginia",969.002375,61676,31664,26330,9457,1805,24443,8121,13017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51149,"Prince George County, Virginia",265.345018,37894,12415,11415,3142,1201,28873,2642,4918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51153,"Prince William County, Virginia",335.739891,456749,147480,140473,30520,11567,39262,33425,41803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51161,"Roanoke County, Virginia",250.543768,93583,40800,38343,6754,1735,34901,5237,19088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51163,"Rockbridge County, Virginia",596.542294,22509,11403,8979,3075,635,31594,2290,5600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51165,"Rockingham County, Virginia",849.788770,79444,35184,30946,7401,1497,30138,8960,14688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51175,"Southampton County, Virginia",599.178866,17939,7592,6522,1665,350,25643,2112,3371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51177,"Spotsylvania County, Virginia",401.502518,131412,47013,43677,10447,3646,35794,8555,17384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51191,"Washington County, Virginia",561.155147,54406,25933,22331,7862,1505,26085,5994,11752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51195,"Wise County, Virginia",403.439186,39025,17957,15126,7890,1327,21828,6946,6583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51199,"York County, Virginia",104.601904,67587,27646,24617,3101,1942,39071,2555,10313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51520,"Bristol city, Virginia",12.903597,16843,8737,7402,3740,450,22900,1967,3381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51530,"Buena Vista city, Virginia",6.438153,6399,2878,2539,1182,74,19744,714,1176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51540,"Charlottesville city, Virginia",10.244664,47042,20499,18613,10915,1045,35026,2728,5039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51570,"Colonial Heights city, Virginia",7.519426,17593,7752,7054,2341,767,27579,1117,3609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51580,"Covington city, Virginia",5.468688,5582,3006,2409,831,126,24955,552,1202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51590,"Danville city, Virginia",42.797292,41512,22151,18479,8717,1690,22200,5164,8326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51595,"Emporia city, Virginia",6.903917,5381,2401,2119,1499,589,18694,814,879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51600,"Fairfax city, Virginia",6.240462,23865,8906,8553,2018,535,47047,1146,3436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51610,"Falls Church city, Virginia",2.046443,14067,5901,5262,377,311,69775,116,1705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51620,"Franklin city, Virginia",8.325748,8211,3852,3526,1315,599,25229,972,1542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51630,"Fredericksburg city, Virginia",10.450688,28469,11589,10582,3672,869,34722,1751,3023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51640,"Galax city, Virginia",8.236357,6638,3367,2742,1625,192,21722,1410,1505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51660,"Harrisonburg city, Virginia",17.339219,53391,18186,16768,12953,1210,21793,4266,4700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51670,"Hopewell city, Virginia",10.354762,22408,10275,9193,4639,850,22038,2736,3485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51678,"Lexington city, Virginia",2.499239,7110,2312,1984,826,99,17762,277,1114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51680,"Lynchburg city, Virginia",48.974156,80131,32364,28069,15182,2380,22972,4924,11252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51683,"Manassas city, Virginia",9.849809,41457,13583,12749,3551,1343,31638,4543,3796,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51685,"Manassas Park city, Virginia",2.524612,16423,4884,4706,1583,581,31420,2145,1335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51690,"Martinsville city, Virginia",10.956265,13101,7090,5630,3201,451,22669,1550,2510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51720,"Norton city, Virginia",7.477295,3990,2040,1819,1155,247,20917,544,689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51730,"Petersburg city, Virginia",22.720179,31827,16377,13274,8037,1701,22356,4192,5211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51735,"Poquoson city, Virginia",15.381279,12039,4785,4615,536,318,40277,336,2268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51750,"Radford city, Virginia",9.676394,17630,6525,5438,5230,493,20760,788,1504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51775,"Salem city, Virginia",14.517687,25519,10852,9881,2095,669,31274,1770,4731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51790,"Staunton city, Virginia",19.920478,24452,11814,10520,3165,395,28836,1874,5072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51820,"Waynesboro city, Virginia",14.969736,21926,10013,9144,3766,483,25421,2031,4009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51830,"Williamsburg city, Virginia",8.940311,14788,5194,4670,2356,488,29203,317,2195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51840,"Winchester city, Virginia",9.192892,27789,11896,10554,4004,535,29727,3106,4341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
merged_df['Income Mobility'].isnull().sum()

325

In [18]:
merged_df.to_csv('../modified_data/svi_social_context_merged')