In [1]:
#import standard libraries

import pandas as pd
import matplotlib as plt
import datetime as dt

In [12]:
# read data files

url = "time_seris_deaths_state.csv"
covid_death_df = pd.read_csv(url)

In [13]:
# verify the read and look at data....

covid_death_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/24/2021,9/25/2021,9/26/2021,9/27/2021,9/28/2021,9/29/2021,9/30/2021,10/1/2021,10/2/2021,10/3/2021
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,137,137,137,137,139,140,140,142,142,142
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,489,495,495,495,501,505,509,514,518,518
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,70,70,70,70,70,70,71,71,71,71
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,80,81,81,81,83,83,83,83,83,83
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,156,157,157,157,160,160,160,161,162,162

In [14]:
#verify data types in the data frame

covid_death_df.dtypes

UID            int64
iso2          object
iso3          object
code3          int64
FIPS         float64
              ...
9/29/2021      int64
9/30/2021      int64
10/1/2021      int64
10/2/2021      int64
10/3/2021      int64
Length: 633, dtype: object

In [15]:
#drop columns not needed for state level summary and possible machine learning model

covid_death_df.drop(columns=['UID','iso2','iso3','code3','FIPS','Country_Region','Lat','Long_','Combined_Key'], axis=1, inplace=True)

In [16]:
#check the resulting data frame

covid_death_df.head()

,Admin2,Province_State,Population,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,...,9/24/2021,9/25/2021,9/26/2021,9/27/2021,9/28/2021,9/29/2021,9/30/2021,10/1/2021,10/2/2021,10/3/2021
0,Autauga,Alabama,55869,0,0,0,0,0,0,0,...,137,137,137,137,139,140,140,142,142,142
1,Baldwin,Alabama,223234,0,0,0,0,0,0,0,...,489,495,495,495,501,505,509,514,518,518
2,Barbour,Alabama,24686,0,0,0,0,0,0,0,...,70,70,70,70,70,70,71,71,71,71
3,Bibb,Alabama,22394,0,0,0,0,0,0,0,...,80,81,81,81,83,83,83,83,83,83
4,Blount,Alabama,57826,0,0,0,0,0,0,0,...,156,157,157,157,160,160,160,161,162,162

In [19]:
# group and sum by date

covid_state_summary_df = covid_death_df.groupby('Province_State').sum()

In [20]:
#verify resulting datafrome

covid_state_summary_df.head()

,Population,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,9/24/2021,9/25/2021,9/26/2021,9/27/2021,9/28/2021,9/29/2021,9/30/2021,10/1/2021,10/2/2021,10/3/2021
Province_State,,,,,,,,,,,,,,,,,,,,,
Alabama,4903185,0,0,0,0,0,0,0,0,0,...,13921,14022,14022,14025,14155,14200,14299,14393,14469,14470
Alaska,740995,0,0,0,0,0,0,0,0,0,...,532,532,532,553,563,567,577,578,578,578
American Samoa,55641,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arizona,7278717,0,0,0,0,0,0,0,0,0,...,19737,19806,19812,19812,19920,19959,19984,20039,20134,20137
Arkansas,3017804,0,0,0,0,0,0,0,0,0,...,7561,7575,7590,7630,7651,7670,7691,7718,7724,7740

In [25]:
# write the summary dataframe to a csv file for use - keep(state) the index, keep headers

covid_state_summary_df.to_csv("covid_state_summary.csv", index=True, header=True, sep =',')

In [22]:
# transpose the dataframe to have states as column headings and covid data by state as rows

covid_summary_TP_df = covid_state_summary_df.transpose(copy=False)

In [23]:
covid_summary_TP_df.head()

Province_State,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Population,4903185,740995,55641,7278717,3017804,39512223,5758736,3565287,973764,0,...,6829174,28995881,3205958,623989,107268,8535519,7614893,1792147,5822434,578759
1/22/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# write the transposed summary dataframe to csv - keep headers, index

covid_summary_TP_df.to_csv("covid_state_summary_TP.csv", index=True, header=True, sep=',')