In [1]:
import numpy as np
import pandas as pd
import xlrd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
from config import db_password
import psycopg2


from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
#create engine and connect to AWS RDS
db_string = f"postgresql://postgres:{db_password}@capstone-db.cutxgn80t57o.us-west-1.rds.amazonaws.com"
engine = create_engine(db_string)
# read and check merged cases table
df = pd.read_sql('deaths_merged_full', con = engine)
df

,FIPS,AREA_SQMI,E_TOTPOP,E_HU,E_HH,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_AGE65,...,Gender Equality,Hopefulness,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic
0,1001,594.443459,55200,23315,21115,8422,1065,29372,4204,8050,...,77.063492,91.163142,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952
1,1009,644.830460,57645,24222,20600,8220,909,22656,7861,10233,...,64.585114,79.492703,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000
2,1013,776.838201,20025,10026,6708,4640,567,20430,2141,3806,...,64.769089,83.523765,19011.0,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953
3,1015,605.867251,115098,53682,45033,20819,4628,24706,12620,19386,...,69.015332,83.365608,22231.0,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794
4,1017,596.560643,33826,16981,13516,5531,773,22827,4383,6409,...,69.433309,85.371517,21532.0,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,48229,4570.523160,4098,1562,900,951,101,14190,1263,639,...,67.196038,55.568966,14776.0,76.720396,79.603081,73.986415,70.917126,79.605796,75.878105,71.008448
3054,48131,1793.476183,11355,5592,3511,2751,482,17864,2386,2025,...,66.171080,77.899678,19853.0,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770
3055,48505,998.411980,14369,6388,4405,5609,621,17228,3226,1999,...,67.037410,86.586509,16007.0,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838
3056,48507,1297.406535,12131,4344,3509,4150,421,13350,2719,1665,...,65.804541,88.785822,13393.0,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990
3057,48247,1136.172598,5282,2523,1710,1431,229,17798,812,932,...,68.661277,82.727613,16637.0,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988

In [3]:
#set index to FIPS
df = df.set_index(df['FIPS'])
df= df.drop(['FIPS'], axis=1)

In [4]:
# use regex to split svi columns into distinct categories
cols = df.columns.to_list()
col_series = pd.Series(cols)
pct_str = r'^[ERS]P+.'
pct_form = col_series.str.contains(pct_str)
pct_col = col_series[pct_form].to_list()
flag_str = r'^F+.'
flag_form = col_series.str.contains(flag_str)
flag_col = col_series[flag_form].to_list()
val_str = r'^E_+.'
val_form = col_series.str.contains(val_str)
val_col = col_series[val_form].to_list()
non_svi = col_series[~pct_form & ~flag_form & ~val_form].to_list()

In [5]:
# filter cases_df to only have svi estimated percentage columns
deaths_df = df.drop(columns = flag_col)
deaths_df = deaths_df.drop(columns = val_col)
deaths_df.columns.to_list()
deaths_df = deaths_df.merge(df['E_TOTPOP'], how = 'left', left_index=True, right_index=True)

In [6]:
#drop zeros - they may be errors? 
zeros = deaths_df.loc[df['first_yr_deaths']==0]
deaths_df = deaths_df.drop(index = zeros.index)
deaths_df

,AREA_SQMI,EP_POV,EP_UNEMP,EP_PCI,EP_NOHSDP,EP_AGE65,EP_AGE17,EP_DISABL,EP_SNGPNT,EP_MINRTY,...,Hopefulness,Income Per Capita,Neuroticism,Openness,Religiosity,Risk Taking,Selflessness,Tolerance,Work Ethic,E_TOTPOP
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,594.443459,15.4,4.2,29372.0,11.3,14.6,24.2,19.3,7.5,25.0,...,91.163142,26168.0,77.925476,78.222354,91.106719,53.333333,82.142857,70.000000,60.380952,55200
1009,644.830460,14.4,4.1,22656.0,19.8,17.8,23.4,14.2,7.0,12.9,...,79.492703,21033.0,78.764620,78.193105,92.045455,57.603815,79.307632,64.953288,76.000000,57645
1013,776.838201,23.5,6.7,20430.0,15.4,19.0,22.8,17.7,10.5,48.1,...,83.523765,19011.0,78.563680,76.109761,76.623924,69.058104,79.956648,67.920284,72.773953,20025
1015,605.867251,18.6,8.8,24706.0,15.9,16.8,21.9,20.8,10.4,27.5,...,83.365608,22231.0,79.439032,79.955121,77.918741,54.063568,76.745724,67.456150,68.292794,115098
1017,596.560643,16.6,5.0,22827.0,18.6,18.9,20.7,16.7,9.7,44.2,...,85.371517,21532.0,76.995358,78.156771,75.891100,67.343775,79.128558,66.397785,69.554441,33826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48229,4570.523160,28.2,8.3,14190.0,46.1,15.6,23.9,27.2,8.0,82.4,...,55.568966,14776.0,76.720396,79.603081,73.986415,70.917126,79.605796,75.878105,71.008448,4098
48131,1793.476183,25.6,10.6,17864.0,32.9,17.8,26.1,26.2,15.8,90.9,...,77.899678,19853.0,79.125428,78.895880,76.629575,60.576045,73.670302,64.571017,68.007770,11355
48505,998.411980,39.5,11.0,17228.0,40.0,13.9,33.6,17.3,17.1,95.7,...,86.586509,16007.0,79.355639,79.572483,74.378252,77.443239,76.386871,74.001471,73.609838,14369
48507,1297.406535,34.8,8.4,13350.0,38.0,13.7,29.5,23.3,16.1,95.0,...,88.785822,13393.0,78.392216,76.024682,75.848196,76.967659,77.303576,70.010162,71.121990,12131
48247,1136.172598,27.4,11.5,17798.0,25.8,17.6,31.4,26.0,15.2,93.0,...,82.727613,16637.0,80.157542,79.708963,74.399849,74.024835,77.564505,72.456881,70.160988,5282

In [7]:
#create variable for death% for each counties population
deaths_df['death_pct'] = deaths_df['first_yr_deaths']/deaths_df['E_TOTPOP']*100
deaths_df['death_pct'].head()

FIPS
1001    0.179348
1009    0.227253
1013    0.329588
1015    0.264992
1017    0.345888
Name: death_pct, dtype: float64

In [8]:
deaths_df['death_pct'].describe()

count    3000.000000
mean        0.191211
std         0.106248
min         0.001401
25%         0.115764
50%         0.176377
75%         0.243764
max         0.788566
Name: death_pct, dtype: float64

## RF Regressor

In [9]:
df.shape

(3058, 104)

In [10]:
# Define feature set (x)
X = deaths_df.drop(['first_yr_deaths','death_pct'], axis=1).values

#Define (y)
y= deaths_df['death_pct'].values

In [11]:
#split data for training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3 ,random_state= 42)

In [12]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2100, 64)
(900, 64)
(2100,)
(900,)

In [13]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# evaluate random search 
from sklearn.ensemble import RandomForestRegressor

def evaluate(model, test_features, test_labels):
    predictions = model.predict(X_test_scaled)
    errors = abs(predictions - y_test)
    mape = 100 * np.mean(errors / len(y_test))
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

base_model = RandomForestRegressor(n_estimators = 200, random_state = 42)
base_model = base_model.fit(X_train_scaled, y_train)
base_accuracy = evaluate(base_model, X_test_scaled, y_test)

Model Performance
Average Error: 0.0657 degrees.
Accuracy = 99.99%.

In [15]:
# turn model predictions into dataframe
preds = pd.DataFrame(base_model.predict(X_test_scaled), columns = ['pred'])
preds['pred_index'] = preds.index
preds.sort_values(by = ['pred'], ascending = False, ignore_index = True, inplace = True)
preds

         pred  pred_index
0    0.369092         401
1    0.368705         110
2    0.361463         480
3    0.360124         865
4    0.359892         493
..        ...         ...
895  0.073140         684
896  0.066711          64
897  0.060921         814
898  0.060464         277
899  0.059133         644

[900 rows x 2 columns]

In [16]:
#turn test values into dataframe
actuals = pd.DataFrame(y_test, columns = ['act'])
actuals['act_index'] = actuals.index
actuals.sort_values(by = ['act'],ascending = False, ignore_index = True, inplace =True)
actuals

          act  act_index
0    0.788566        566
1    0.725468        436
2    0.714116        239
3    0.643863        321
4    0.633220        110
..        ...        ...
895  0.020049        221
896  0.016108        537
897  0.014004         70
898  0.007670        395
899  0.001401        649

[900 rows x 2 columns]

In [17]:
# merege acutal and predicted dataframes
results = actuals.merge(preds, how = 'inner', left_index=True, right_index=True)
ranked = results.head(91)
ranked

         act  act_index      pred  pred_index
0   0.788566        566  0.369092         401
1   0.725468        436  0.368705         110
2   0.714116        239  0.361463         480
3   0.643863        321  0.360124         865
4   0.633220        110  0.359892         493
..       ...        ...       ...         ...
86  0.337477        528  0.267479         572
87  0.336937        493  0.267409          53
88  0.335092        358  0.267331         882
89  0.334303        547  0.266273         722
90  0.333056        117  0.265647         316

[91 rows x 4 columns]

In [18]:
correct = 0
correct_index = []

for index, row in ranked.iterrows():
    if row['pred_index'] in ranked['act_index'].values:
        correct = correct+1
        correct_index.append(row['pred_index'])

In [19]:
correct

34

In [20]:
# create columns to display error amounts
results['error'] = results['Actual']-results['Pred']
results['abs_error'] = abs(results['Actual']-results['Pred'])
results

KeyError: 'Actual'

In [ ]:
#plot errors
plt.scatter(results.index,results['error'])

In [ ]:
#find worst performer
results[results['error']==results['error'].max()]

In [ ]:
#explore errors
results['error'].describe()

In [ ]:
#explore absolute errors
results['abs_error'].describe()

In [ ]:
#explore death percents
results['Actual'].describe()

In [ ]:
deaths_df.loc[deaths_df.index == 6037]